<div class="login-wrapper">
    <div class="login-left">
      <h2>Login</h2>
      <form (ngSubmit)="onLogin()">
        <label>Email</label>
        <input type="email" [(ngModel)]="email" name="email" required />
  
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="password" name="password" required />
          <span class="eye-icon" (click)="togglePasswordVisibility()">👁️</span>
        </div>
  
        <button type="submit">Login</button>
      </form>
      <p class="link-text">
        Don’t have an account? <a routerLink="/register">Sign up</a>
      </p>
    </div>
  
    <div class="login-right">
      <img src="assets/brainbridgelogo.png"  />
      <h1>BRAIN BRIDGE</h1>
      <p>Connecting Great Minds</p>
    </div>
     <div *ngIf="showSuccessPopup" 
     class="fixed top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 
            bg-green-600 text-white px-6 py-3 rounded-lg shadow-lg text-lg z-50">
  {{ successMessage }}
  </div>
  