<div class="dashboard-container">
  <!-- Main layout container -->
  <div class="content-container">
    <!-- Main Content -->
    <main class="main-content">
      <div class="profile-card">
        <i class="fas fa-user-circle avatar-icon"></i>

        <h2 class="professor-name">{{ professor.name }}</h2>
        <p class="subtitle">Professor</p>

        <div class="form">
          <div class="field-row">
            <label>Name:</label>
            <input *ngIf="isEditMode" [(ngModel)]="professor.name" />
            <p *ngIf="!isEditMode">{{ professor.name }}</p>
          </div>

          <div class="field-row">
            <label>Email:</label>
            <input *ngIf="isEditMode" [(ngModel)]="professor.email" />
            <p *ngIf="!isEditMode">{{ professor.email }}</p>
          </div>

          <div class="field-row">
            <label>Major:</label>
            <input *ngIf="isEditMode" [(ngModel)]="professor.major" />
            <p *ngIf="!isEditMode">{{ professor.major }}</p>
          </div>

          <button *ngIf="isEditMode" (click)="submitChanges()">Submit</button>
        </div>
      </div>
    </main>
  </div>
</div>
