<div class="register-container">
    <div class="form-section">
      <h2>Register</h2>
      <form (ngSubmit)="onRegister()">
        <label>Full Name</label>
        <input type="text" [(ngModel)]="user.name" name="name" required />
  
        <label>Email</label>
        <input type="email" [(ngModel)]="user.email" name="email" required />
  
        <label>Password</label>
        <div class="password-wrapper">
          <input [type]="passwordVisible ? 'text' : 'password'" [(ngModel)]="user.password" name="password" required />
          <span class="eye-icon" (click)="togglePasswordVisibility()">👁️</span>
        </div>
  
        <label>Retype Password</label>
        <div class="password-wrapper">
          <input [type]="confirmPasswordVisible ? 'text' : 'password'" [(ngModel)]="user.confirmPassword" name="confirmPassword" required />
          <span class="eye-icon" (click)="toggleConfirmPasswordVisibility()">👁️</span>
        </div>
  
        <label>Role</label>
        <select [(ngModel)]="user.role" name="role" required>
          <option value="" disabled selected>Select role</option>
          <option value="student">Student</option>
          <option value="professor">Professor</option>
        </select>
  
        <button type="submit">Submit</button>
      </form>
      <p>
         <a routerLink="/login">Login</a>
      </p>
      

    </div>
  
    <div class="image-section">
      <img src="assets/image.png" alt="Brain Bridge Logo" />
      <h1>BRAIN BRIDGE</h1>
      <p>Connecting Great Minds</p>
    </div>
  </div>
  