.register-container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  background-color: #ffffff;
}

.form-section {
  width: 50%;
  padding: 60px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #2c2c54;
}

label {
  margin-top: 15px;
  font-weight: 500;
  color: #333;
}

input,
select {
  padding: 12px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 14px;
}

.password-wrapper {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
}

button {
  margin-top: 25px;
  padding: 12px;
  background-color: #4d49c5;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
}
button:hover {
  background-color: #1c1f91; /* Hover color */
}
p {
  margin-top: 15px;
  font-size: 14px;
}

p a {
  color: #3734A9;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}

.image-section {
  width: 50%;
  background-color: #3949ab;
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.image-section h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
}

.image-section p {
  margin-bottom: 30px;
  font-size: 16px;
  color: #ffffff;
}

.image-section img {
  max-width: 150px;
  margin: 0 auto;
}

.center-popup-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #38a169; /* green */
  color: white;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  10% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

